.Friends
{
    margin-top: 100px;
}
.Head
{
   padding-left: 45px;
   padding-bottom: 15px;
   color:white;
}
.image img
{
    padding-left: 6px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}