.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'head head' 'nav con';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  width: 1200px;
}

.app-wrapper-content {
  background-color: rgb(36, 210, 237);
  grid-area: con;
}