.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /* only 2 div(dialogs,messages) in Dialogs,jsx so they automatically split into columns */
}

.dialogsItems {
    padding: 10px;
    margin-top: 20px;
}

.dialog a {
    text-decoration: none;
    color: white;
}

.messages {
    padding: 10px;
}
.message{
    margin:10px;
    border:3px solid rgba(255, 255, 255, 0.578);
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    text-align: middle;
    vertical-align: middle;
}

.dialog a.active {
    color: gold;
}
.addMessage
{
    display: grid;
    grid-template-columns: 10fr 1fr;
    width:200px
}
.addMessage button
{   
    font-size: 60%;
    transition: absolute;
}

/* .messages.message {

} */